/*******************************************************************************
*
* BUTTON  GRADIENT
*
*******************************************************************************/
// Configuration variables
// Type name | color scheme

// VARIABLES
// 1rem = 12pt = 16px = 100%  |  CSS Reset taille font : html {font-size:100%;}
$font-unit: 1rem;

// STATIC
$btn-display:          inline-block;
$btn-fontSize:         $font-unit * 1;
$btn-width:            $font-unit * 1;
$btn-lineHeight:       $font-unit * 1.5;
$btn-padding:          $font-unit * 1 $font-unit * 2 ;
//$btn-margin:           $font-unit * ;
$btn-boder-radius:     0.15rem;
$btn-border:           1px solid;
$btn-text-align:       center;
$btn-text-decoration:  none;

// STATIC TRANSITION
$btn-transition: 0.4s;


// MAP COLOR . on l'adapte au gradient
// on code
// nth($colors, 1)    => gradient 1
// nth($colors, 2)    => gradient 2
// nth($colors, 2)    => bg normal
// nth($colors, 3)    => color font
// nth($colors, 4)    => color lien ! peut être superflu
// on péfère prendre des # plutôt que du rgb() ou hsl pour cet exemple
$buttons-couleurs: (
  '':         ( #f45d91, #ff83a2, transparent, #666, #666,#FF530D,), // '' btn par défaut
  -error:     ( #ffcce2, #ffa6c3, transparent, #fff, #666,#FF530D,),
)!default;

$buttons-width: (
  -xs:        ( 10% ),
  -lg:        ( 100% ),
)!default;

// Placeholder pour valeurs statiques
%mesValeurs {
  display: $btn-display;
  font-size: $btn-fontSize;
  line-height: $btn-lineHeight;
  min-width: $btn-width;
  padding: $btn-padding;
  //margin: $btn-margin;
  border-radius: $btn-boder-radius;
  border: $btn-border;
  text-align: $btn-text-align;
  text-decoration: $btn-text-decoration;
  // on mets de la transition pour :hover
  -webkit-transition-duration: $btn-transition;// safari
  transition-duration: $btn-transition;
  > a {
    display: block;
    text-decoration: $btn-text-decoration;
  }
}

.btn {
  @extend %mesValeurs;

  // on dynamise et dry:
  @each $type, $colors in $buttons-couleurs {
    // on déclare
    $grad1:       nth($colors, 1);
    $grad2:       nth($colors, 2);
    $bgcolor:     nth($colors, 3);
    $fontcolor:   nth($colors, 4);
    $linkscolor:  nth($colors, 5);

    &#{$type} {
      background-image: linear-gradient($grad1, $grad2);
      border-color: $grad1;
      color: $fontcolor;

      // juste pour montrer
      &:hover, &:focus {
        color: desaturate($fontcolor, 100%);
        background-image: linear-gradient($grad2, $grad1); // on peut mettre darken ( $grad , %)
        border-color: $grad2; // on peut mettre darken ( $grad , %)
      }

      &:visited {
        color: desaturate($fontcolor, 100%);
        background-image: linear-gradient($grad2, $grad1);// on peut mettre darken ( $grad , %)
        border-color: $grad2; // on peut mettre darken ( $grad , %)
      }
      // on sait jamais, peut être superflu ....
      > a {
        color: $linkscolor;
      }
    }
  }

  // on rajoute width : btn-xs, bt-lg
  @each $type, $width in $buttons-width {
    &#{$type} {
      width: $width;
    }
  }

}
